/nbproject/private/
/Webservice/nbproject/private/
/JAVA/POC/target/
/JAVA/POC2/target/
/TEST Pizzeria_grp6/Pizzeria/target/
/TEST Pizzeria/Pizzeria/target/
/TESTPizzeria/Pizzeria/target/
/AJAX/nbproject/private/
/Aventurier/nbproject/private/
/Bootstrap/nbproject/private/
/YummyBurger/nbproject/private/
/Portfolio/nbproject/private/
/TestUnitaires/nbproject/private/
/TestUnitaires/target/
/Pizzeria_grp6
/PrestaChope6
/ProjetForum