body{
    margin:0;
}

.page_container{
    display:flex;
}

.cote{
    width:15%;
    height:1000px;;
   border-right: solid black;
}
.cote2{
    width:15%;
    height:1000px;;
   border-left:solid black;
}
.entete{
    width:70%;
    display:flex;
    justify-content: center;
}

.entete img{
    width:50%;
    height:300px;
}
.top{
    
    
}
h1{
    display:flex;
    justify-content: center;
    
}