body,p,h1{
    margin:0;
}
.page_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.top{
    height: 100px;
    width: 100%;
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.article_container{
    border:2px black solid;
    width:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    margin-bottom: 30px;
}
.titre{
    font-size: 25px;
}

.comment_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 15px;
}
form{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
    
#comment_bar{
    height: 30px;
    text-align: center;
    margin-top: 10px;
}
#pseudo_bar{
    text-align: center;
}
#btn_envoi{
    margin-top: 10px;
}
.commentaires p{
    font-size: 15px;
}
.submit{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
